{namespace calendar=Tx_CalendarDisplay_ViewHelpers}
<script type="text/javascript">
// <![CDATA[

(function($) {
	$(function() {
		$(document).ready(function(){

			// filter option
			$('.tx-calendardisplay-filter-category').change(CalendarDisplay.filterResources);
			$('.tx-calendardisplay-filter-keyword').keyup(CalendarDisplay.filterResources);

			CalendarDisplay.timer = 0;

			$('#tx-calendardisplay-form-event-timeBegin').keyup(function() {
				//CalendarDisplay.filterResources
			});

			// Store default values
			CalendarDisplay.State.timeBeginDateCurrent = $('#tx-calendardisplay-form-event-timeBegin').val().split(' ')[0];
			CalendarDisplay.State.timeEndDateCurrent = $('#tx-calendardisplay-form-event-timeEnd').val().split(' ')[0];

			$('#tx-calendardisplay-form-event-timeBegin, #tx-calendardisplay-form-event-timeEnd').keyup(function(event) {
				if ($(this).val().match(/[0-9]{2}.[0-9]{2}.[0-9]{4} [0-9]{2}.[0-9]{2}/gi) &&
						event.keyCode >= 48 &&
						event.keyCode <= 57) {
					CalendarDisplay.filterResources();
				}
			})
			
			// hacky code to prevent the event "change" to be thrown by the calendar
			$('#tx-calendardisplay-form-event-timeBegin').change(function () {

				// for "new event" only: copy the content of timeBegin and inject it into timeEnd
				// this code does not work currently as it will make the calendar poping up and ends up with a UI problem
				//if (CalendarDisplay.State.timeEndCurrent == '') {
				//	$('#tx-calendardisplay-form-event-timeEnd').val($('#tx-calendardisplay-form-event-timeBegin').val());
				//}

				// Detect is there is anything happend
				var date = $(this).val().split(' ')[0];

				if (hasTimeBeginDateChanged(date)) {
					// will triger even onclose which will reload the calendar
					$(this).datetimepicker('hide');
				}
			});

			// hacky code to prevent the event "change" to be thrown by the calendar
			$('#tx-calendardisplay-form-event-timeEnd').change(function () {

				// Detect is there is anything happend
				var date = $(this).val().split(' ')[0];

				if (hasTimeEndDateChanged(date)) {
					// will triger even onclose which will reload the calendar
					$(this).datetimepicker('hide');
				}
			});

			// add datetime picker to date-start
			$('#tx-calendardisplay-form-event-timeBegin').datetimepicker(CalendarDisplay.TimePicker.options);
			$('#tx-calendardisplay-form-event-timeEnd').datetimepicker(CalendarDisplay.TimePicker.options);

			//$(".tx-calendardisplay-form").validationEngine();

		}); // end DOM ready
	}); // end of clausure
})(jQuery);

   /**
	*
	* @param {jqObject} the field where the validation applies
	* @param {Array[String]} validation rules for this field
	* @param {int} rule index
	* @param {Map} form options
	* @return an error string if validation failed
	*/
	function checkDateRange(field, rules, i, options){
	   var startDate = $('#tx-calendardisplay-form-event-timeBegin').val();
	   var endDate = field.val();
	   if (new Date(startDate.toString()) >= new Date(endDate.toString())) {
	      return '* Invalid Date Time Range';
	   }
	}


   /**
	* Check whether the Time Begin has changed. Resolves a GUI bug
	*
	* @param {String} the begin time
	* @return boolean
	*/
	function hasTimeBeginDateChanged(date) {
		var result = false;
		if (CalendarDisplay.State.timeBeginDateCurrent != date) {
			CalendarDisplay.State.timeBeginDateCurrent = date
			result = true;
		}
		return result;
	}

   /**
	* Check whether the Time End has changed. Resolves a GUI bug
	*
	* @param {String} the end time
	* @return boolean
	*/
	function hasTimeEndDateChanged(date) {
		var result = false;
		if (CalendarDisplay.State.timeEndDateCurrent != date) {
			CalendarDisplay.State.timeEndDateCurrent = date
			result = true;
		}
		return result;
	}
// ]]>
</script>

<div class="tx-calendardisplay-box-left tx-calendardisplay-dialog-column-first" >
	<div class="tx-calendardisplay-event-input">
		<label for="tx-calendardisplay-form-event-timeBegin">
			<f:translate key="tx_calendardisplay_domain_model_event.time_begin" />
		</label>
		<f:form.textfield class="validate[required]"
						  id="tx-calendardisplay-form-event-timeBegin"
						  property="timeBegin"
						  value="{event.timeBegin -> f:format.date(format:'d.m.Y H:i')}" />
	</div>

	<div class="tx-calendardisplay-event-input">
		<label for="tx-calendardisplay-form-event-timeEnd">
			<f:translate key="tx_calendardisplay_domain_model_event.time_end" />
		</label>
		<f:form.textfield class="validate[required,funcCall[checkDateRange]]"
						  id="tx-calendardisplay-form-event-timeEnd"
						  property="timeEnd"
						  value="{event.timeEnd -> f:format.date(format:'d.m.Y H:i')}" />
	</div>

	<div class="tx-calendardisplay-event-input">
		<label for="tx-calendardisplay-form-event-note">
			<f:translate key="tx_calendardisplay_domain_model_event.note" />
		</label>
		<f:form.textarea id="tx-calendardisplay-form-event-note" property="note" rows="3" cols="80" />
	</div>
</div>


<div id="tx-calendardisplay-dialog-column-second" class="tx-calendardisplay-available-item tx-calendardisplay-box-left">
	<div id="tx-calendardisplay-dialog-column-second-prepend" class="<f:if condition="{availableResources}"><f:then></f:then><f:else>tx-calendardisplay-hidden</f:else></f:if>">
		<p class="tx-calendardisplay-wrapper-light">
			<f:translate key="alvailable_item_description" />
		</p>
		<div class="tx-calendardisplay-filter-wrapper">
			<div class="tx-calendardisplay-filter-wrapper-filter">
				<f:if condition="{categories}">
					<label class="tx-calendardisplay-wrapper-light"><f:translate key="category" /></label>
					<calendar:form.select class="tx-calendardisplay-filter-category" name="category" prependOption="<f:translate key='all' />" options="{categories}" optionValueField="uid" optionLabelField="name" />
				</f:if>
			</div>
			<div class="tx-calendardisplay-filter-wrapper-search">
				<f:form.textfield type="search" name="keyword" class="tx-calendardisplay-filter-keyword" placeholder="<f:translate key='search' />" />
			</div>
		</div>
	</div>
	<div class="tx-calendardisplay-dialog-list-wrapper">
		<f:if condition="{availableResources}">
			<f:then>
				<table>
					<thead>
						<tr>
							<th class="tx-calendardisplay-list-wrapper-image"></th>
							<th class="tx-calendardisplay-list-wrapper-material"><f:translate key="material" /></th>
							<th class="tx-calendardisplay-list-wrapper-category"><f:translate key="category" /></th>
							<th class="tx-calendardisplay-list-wrapper-available-number"><f:translate key="available_number" /></th>
							<th class="tx-calendardisplay-list-wrapper-reserve-number"><f:translate key="reserve_number" /></th>
						</tr>
					</thead>
					<tbody>
						<f:for each="{availableResources}" as="resource">
							<f:cycle values="{0: 'tx-calendardisplay-odd', 1: 'tx-calendardisplay-even'}" as="zebraClass">
								<f:if condition="{resource.availableNumber} > 0">
									<tr class="{zebraClass}">
										<td class="tx-calendardisplay-list-wrapper-image">
											<f:if condition="{resource.image}">
												<f:image src="uploads/tx_calendardisplay/{resource.image}"  width="50" alt="{resource.name}" />
											</f:if>
										</td>
										<td class="tx-calendardisplay-list-wrapper-material">{resource.name}</td>
										<td class="tx-calendardisplay-list-wrapper-category">{resource.category.name}</td>
										<td class="tx-calendardisplay-list-wrapper-available-number">{resource.availableNumber}</td>
										<td class="tx-calendardisplay-list-wrapper-reserve-number">
											<input id="booking_{resource.uid}"  class="validate[custom[integer],max[{resource.totalAvailableNum]]" type="number" max="{resource.availableNumber}" step="1" name="booking[{resource.uid}]" value="{resource.bookingNumber}" />
										</td>
									</tr>
								</f:if>
							</f:cycle>
						</f:for>
					</tbody>
				</table>
			</f:then>
			<f:else>
				<div class="typo3-messages" style="margin-top: 5px">
					<div class="typo3-message message-information">
						<div class="message-body">
							{message}
						</div>
					</div>
				</div>
			</f:else>
		</f:if>
	</div>
</div>