{namespace calendar=Tx_CalendarDisplay_ViewHelpers}
<script type="text/javascript">
// <![CDATA[

function clock() {
	console.log('*');
}



(function($) {
	$(function() {
		$(document).ready(function(){
			// hide the loading image
			$('.tx-calendardisplay-loading').hide();

			// filter option
			$('.tx-calendardisplay-filter-category').change(CalendarDisplay.filterResources);
			$('.tx-calendardisplay-filter-keyword').keyup(CalendarDisplay.filterResources);

			CalendarDisplay.timer = 0;

			$('#tx-calendardisplay-form-event-timeBegin').keyup(function() {

				//clock();

				//CalendarDisplay.filterResources
			});

			$('#tx-calendardisplay-form-event-timeBegin').change(function () {
				if ($('#tx-calendardisplay-form-event-timeEnd').val() == '') {
					$('#tx-calendardisplay-form-event-timeEnd').val($('#tx-calendardisplay-form-event-timeBegin').val());
				}
			});

			// add datetime picker to date-start
			$('#tx-calendardisplay-form-event-timeBegin').datetimepicker(CalendarDisplay.TimePicker.options);
			$('#tx-calendardisplay-form-event-timeEnd').datetimepicker(CalendarDisplay.TimePicker.options);

			//$(".tx-calendardisplay-form").validationEngine();

		}); // end DOM ready
	}); // end of clausure
})(jQuery);

   /**
	*
	* @param {jqObject} the field where the validation applies
	* @param {Array[String]} validation rules for this field
	* @param {int} rule index
	* @param {Map} form options
	* @return an error string if validation failed
	*/
	function checkDateRange(field, rules, i, options){
	   var startDate = $('#tx-calendardisplay-form-event-timeBegin').val();
	   var endDate = field.val();
	   if (new Date(startDate.toString()) >= new Date(endDate.toString())) {
	      return '* Invalid Date Time Range';
	   }
	}
// ]]>
</script>

<div class="tx-calendardisplay-form-event-wrapper">
	<div class="tx-calendardisplay-box-left tx-calendardisplay-wrapper-column-first" >
		<div class="tx-calendardisplay-event-input">
			<label for="tx-calendardisplay-form-event-timeBegin">
				<f:translate key="tx_calendardisplay_domain_model_event.time_begin" />
			</label>
			<f:form.textfield class="validate[required]" id="tx-calendardisplay-form-event-timeBegin" property="timeBegin" value="{event.timeBegin -> f:format.date(format:'m/d/Y H:i')}" />
		</div>

		<div class="tx-calendardisplay-event-input">
			<label for="tx-calendardisplay-form-event-timeEnd">
				<f:translate key="tx_calendardisplay_domain_model_event.time_end" />
			</label>
			<f:form.textfield class="validate[required,funcCall[checkDateRange]]" id="tx-calendardisplay-form-event-timeEnd" property="timeEnd" value="{event.timeEnd -> f:format.date(format:'m/d/Y H:i')}" />
		</div>

		<div class="tx-calendardisplay-event-input">
			<label for="tx-calendardisplay-form-event-note">
				<f:translate key="tx_calendardisplay_domain_model_event.note" />
			</label>
			<f:form.textarea id="tx-calendardisplay-form-event-note" property="note" rows="3" cols="80" />
		</div>
	</div>

</div>

<f:if condition="{availableResources}">
	<f:then>
		<div class="tx-calendardisplay-available-item tx-calendardisplay-box-left tx-calendardisplay-wrapper-column-second">
			<p class="tx-calendardisplay-wrapper-light">
				<f:translate key="alvailable_item_description" />
			</p>
			<div class="tx-calendardisplay-filter-wrapper">
				<div class="tx-calendardisplay-filter-wrapper-filter">
					<f:if condition="{categories}">
						<label class="tx-calendardisplay-wrapper-light"><f:translate key="category" /></label>
						<calendar:form.select class="tx-calendardisplay-filter-category" name="category" prependOption="<f:translate key='all' />" options="{categories}" optionValueField="uid" optionLabelField="name" />
					</f:if>
				</div>
				<div class="tx-calendardisplay-filter-wrapper-search">
					<f:form.textfield type="search" name="keyword" class="tx-calendardisplay-filter-keyword" placeholder="<f:translate key='search' />" />
				</div>
			</div>
			<div class="tx-calendardisplay-list-wrapper">
				<f:image class="tx-calendardisplay-loading" src="EXT:calendar_display/Resources/Public/Media/Icons/loading.gif" alt="" />
				<table>
					<thead>
						<tr>
							<th class="tx-calendardisplay-list-wrapper-image"></th>
							<th class="tx-calendardisplay-list-wrapper-material"><f:translate key="material" /></th>
							<th class="tx-calendardisplay-list-wrapper-category"><f:translate key="category" /></th>
							<th class="tx-calendardisplay-list-wrapper-available-number"><f:translate key="available_number" /></th>
							<th class="tx-calendardisplay-list-wrapper-reserve-number"><f:translate key="reserve_number" /></th>
						</tr>
					</thead>
					<tbody>
						<f:for each="{availableResources}" as="resource">
							<f:cycle values="{0: 'tx-calendardisplay-odd', 1: 'tx-calendardisplay-even'}" as="zebraClass">
								<f:if condition="{resource.availableNumber} > 0">
									<tr class="{zebraClass}">
										<td class="tx-calendardisplay-list-wrapper-image">
											<f:if condition="{resource.image}">
												<f:image src="uploads/tx_calendardisplay/{resource.image}"  width="50" alt="{resource.name}" />
											</f:if>
										</td>
										<td class="tx-calendardisplay-list-wrapper-material">{resource.name}</td>
										<td class="tx-calendardisplay-list-wrapper-category">{resource.category.name}</td>
										<td class="tx-calendardisplay-list-wrapper-available-number">{resource.availableNumber}</td>
										<td class="tx-calendardisplay-list-wrapper-reserve-number">
											<input id="booking_{resource.uid}"  class="validate[custom[integer],max[{resource.totalAvailableNum]]" type="number" max="{resource.availableNumber}" step="1" name="booking[{resource.uid}]" value="{resource.bookingNumber}" />
										</td>
									</tr>
								</f:if>
							</f:cycle>
						</f:for>
					</tbody>
				</table>
			</div>
		</div>
	</f:then>
	<f:else>
		<div class="tx-calendardisplay-no-available-item">
			<f:translate key="no_available_item" />
		</div>
	</f:else>
</f:if>