{namespace calendar=Tx_CalendarDisplay_ViewHelpers}
<script type="text/javascript">
// <![CDATA[

(function($) {
	$(function() {
		$(document).ready(function(){
			// hide the loading image
			$('.loading').hide();
			
			// filter option
			$('div.available-item select.category').change(function(){
				filterItems();
			});	
			
			$('div.available-item input.keyword').keyup(function(){
				filterItems();
			});	
			
			// add datetime picker to date-start
			$('#timeBegin').datetimepicker();
			$('#timeEnd').datetimepicker();
			
			// add key word search box background
			$('div.available-item .keyword').focus(function() {
				var defaultValue = $('#defauleSearchLabel').val();
				if(defaultValue == $('div.available-item .keyword').val()) $('div.available-item .keyword').val('');
				else if ($('div.available-item .keyword').val() == '') $('div.available-item .keyword').val(defaultValue);
			});

			$('div.available-item .keyword').blur(function() {
				var defaultValue = $('#defauleSearchLabel').val();
				if(defaultValue == $('div.available-item .keyword').val()) $('div.available-item .keyword').val('');
				else if ($('div.available-item .keyword').val() == '') $('div.available-item .keyword').val(defaultValue);
			});

			$(".tx-calendardisplay-pi1-form-event").validationEngine();
			
		}); // end DOM ready
	}); // end of clausure
})(jQuery);
   /**
	*
	* @param {jqObject} the field where the validation applies
	* @param {Array[String]} validation rules for this field
	* @param {int} rule index
	* @param {Map} form options
	* @return an error string if validation failed
	*/
	function checkDateRange(field, rules, i, options){
	   var startDate = $('#timeBegin').val();
	   var endDate = field.val();
	   if (new Date(startDate.toString()) >= new Date(endDate.toString())) {
	      return '* Invalid Date Time Range'; 
	   }          
	}
// ]]>
</script>

<div class="event-form">
	<table>
		<tr>
			<td>
				<label for="timeBegin">
					<f:translate key="tx_calendardisplay_domain_model_event.time_begin" />
				</label>
				<f:form.textbox class="validate[required]" id="timeBegin" property="timeBegin" value="{event.timeBegin -> f:format.date(format:'m/d/Y H:i')}" />
			</td>
			<td style="padding-left: 20px">
				<label for="timeEnd">
					<f:translate key="tx_calendardisplay_domain_model_event.time_end" />
				</label>
				<f:form.textbox class="validate[required,funcCall[checkDateRange]]" id="timeEnd" property="timeEnd" value="{event.timeEnd -> f:format.date(format:'m/d/Y H:i')}" />
			</td>
		</tr>
	</table>
	
	<div class="note">
		<label for="note">
			<f:translate key="tx_calendardisplay_domain_model_event.note" />
		</label>
		<f:form.textarea id="note" property="note" rows="3" cols="80" />
	</div>
</div>

<f:if condition="{availableResources}">
	<f:then>
		<div class="available-item">
			<p>
				<f:translate key="alvailable_item_description" />
			</p>
			<div class="filter-wrapper">
				<div class="filter">
					<label><f:translate key="filter_selection" /></label>
					<f:if condition="{categories}">
						<label><f:translate key="category" /></label>	
						<calendar:form.select class="category" name="category" prependOption="<f:translate key='all' />" options="{categories}" optionValueField="uid" optionLabelField="name" />
					</f:if>
				</div>
				<div class="search">
					<f:form.textbox name="keyword" class="keyword" value="<f:translate key='search' />" />
					<input id="defauleSearchLabel" type="hidden" value="<f:translate key='search' />" />
				</div>
			</div>
			<div class="list-wrapper">
				<f:image class="loading" src="EXT:calendar_display/Resources/Public/Media/Icons/loading.gif" alt="" />
				<table>
					<thead>
						<tr>
							<th class="image"></th>
							<th class="material"><f:translate key="material" /></th>
							<th class="category"><f:translate key="category" /></th>
							<th class="available-number"><f:translate key="available_number" /></th>
							<th class="reserve-number"><f:translate key="reserve_number" /></th>
						</tr>
					</thead>
					<tbody>
						<f:for each="{availableResources}" as="resource">							
							<f:cycle values="{0: 'odd', 1: 'even'}" as="zebraClass">
								<f:if condition="{resource.availableNumber} > 0">
									<f:then>
										<tr class="{zebraClass}">
											<td class="image">
												<f:if condition="{resource.image}">
													<f:image src="uploads/tx_calendardisplay/{resource.image}"  width="50" alt="{resource.name}" />
												</f:if>
											</td>
											<td class="material">{resource.name}</td>
											<td class="category">{resource.category.name}</td>								
											<td class="available-number">{resource.availableNumber}</td>
											<td class="reserve-number">
												<input id="booking_{resource.uid}" class="validate[custom[integer],max[{resource.totalAvailableNum}]]" type="text" name="booking[{resource.uid}]" value="{resource.bookingNumber}" />
											</td>
										</tr>
									</f:then>
									<f:else>
										<f:if condition="{resource.bookingNumber} > 0">
											<tr class="{zebraClass}">
												<td class="image">
													<f:if condition="{resource.image}">
														<f:image src="uploads/tx_calendardisplay/{resource.image}"  width="50" alt="{resource.name}" />
													</f:if>
												</td>
												<td class="material">{resource.name}</td>
												<td class="category">{resource.category.name}</td>								
												<td class="available-number">{resource.availableNumber}</td>
												<td class="reserve-number">
													<input id="booking_{resource.uid}"  class="validate[custom[integer],max[{resource.totalAvailableNum]]" type="text" name="booking[{resource.uid}]" value="{resource.bookingNumber}" />
												</td>
											</tr>
										</f:if>
									</f:else>
								</f:if>
							</f:cycle>							
						</f:for>
					</tbody>
				</table>
			</div>
		</div>
	</f:then>
	<f:else>
		<div class="noAvailableItem">
			<f:translate key="no_available_item" />
		</div>
	</f:else>
</f:if>