{namespace calendar=Tx_CalendarDisplay_ViewHelpers}

<tr class="{zebraClass}">
	<td class="tx-calendardisplay-list-wrapper-start">
		<f:format.date format="d.m.Y @ H\h:i">{event.timeBegin}</f:format.date>
	</td>
	<td class="tx-calendardisplay-list-wrapper-end">
	<f:if condition="{event.compareDayBeginDayEnd}">
		<f:then>
			<f:format.date format="@ H\h:i">{event.timeEnd}</f:format.date>
		</f:then>
		<f:else>
			<f:format.date format="d.m.Y @ H\h:i">{event.timeEnd}</f:format.date>
		</f:else>
	</f:if>
	</td>
	<td class="tx-calendardisplay-list-wrapper-note">{event.note}</td>
	<td class="tx-calendardisplay-list-wrapper-material">
	<f:if condition="{event.booking}">
		<f:then>
			<ul>
				<f:for each="{event.booking}" as="booking" iteration="resourceIterator">
					<f:for each="{booking.resources}" as="resource">
						<li>{resource.name} ({booking.number})</li>
					</f:for>
				</f:for>
			</ul>
		</f:then>
	</f:if>
	</td>
	<td class="tx-calendardisplay-list-wrapper-bookedBy">
	<f:link.email email="{event.purchaser.email}">{event.purchaser.username}</f:link.email>
	</td>
	<td class="phone">{event.purchaser.telephone}</td>

	<f:if condition="{user}">
		<f:then>
			<td>
			<f:if condition="{calendar:check.permission(user: user, event: event)}">
				<f:then>
					<f:link.action action="edit" id="tx-calendardisplay-edit-event{event.uid}" class="tx-calendardisplay-list-wrapper-edit" arguments="{event: event}" title="<f:translate key='edit' />">
						<f:translate key="edit" />
					</f:link.action>
					<f:link.action noCacheHash="true" class="tx-calendardisplay-list-wrapper-delete" action="delete" arguments="{event: event}" onclick="return confirm(\"<f:translate key='confirm_delete' />\");" title="<f:translate key='delete' />">
						<f:translate key="delete" />
					</f:link.action>
				</f:then>
			</f:if>
			</td>
		</f:then>
	</f:if>

</tr>