{namespace calendar=Tx_CalendarDisplay_ViewHelpers}

<tr class="{zebraClass}">
	<td class="tx-calendardisplay-list-wrapper-image">
		<f:if condition="{resource.image}">
			<f:image src="uploads/tx_calendardisplay/{resource.image}" width="50" alt="{resource.name}" />
		</f:if>
	</td>
	<td class="tx-calendardisplay-list-wrapper-material">{resource.name}</td>
	<td class="tx-calendardisplay-list-wrapper-category">{resource.category.name}</td>
	<td class="tx-calendardisplay-list-wrapper-available-number">
		<f:if condition="{resource.number} == {resource.availableNumber}">
			<f:then>
				{resource.number}
			</f:then>
			<f:else>
				{resource.availableNumber} / {resource.number}
			</f:else>
		</f:if>

	</td>
	<td class="tx-calendardisplay-list-wrapper-reserve-number">
		<input id="booking_{resource.uid}"
			   class="validate[custom[integer],max[{resource.availableNumber]]"
			   type="number"
			   max="{resource.availableNumber}"
			   step="1"
			   name="booking[{resource.uid}]"
			   value="{resource.bookedResourcesNumber}" />
	</td>
</tr>