/* CSS to make sure UI looks good */
.ui-datepicker,
.ui-dialog-buttonpane,
.ui-dialog-content {
	font-size: 13px;
	text-align: left;
}
.tx-calendardisplay-form th,
.tx-calendardisplay-form td {
	padding: 0;
}

.tx-calendardisplay-form input {
	margin-left: 0;
}

.tx-calendardisplay-form textarea {
	margin-left: 0;
	width: 400px;
}

input.f3-form-error {
	background-color:#FF9F9F;
	border: 1px #FF0000 solid;
}

#typo3-messages {
	margin-bottom: 10px;
}

.typo3-message {
	border: 1px solid;
	background-position: 10px 12px;
	background-repeat: no-repeat;
	margin-bottom: 4px;
	padding: 12px;
	padding-left: 36px;
}

.message-ok {
	color: #396BA0;
	background-color: #E3ECF5;
	background-image: url('/typo3/sysext/t3skin/icons/gfx/ok.png');
	border-color: #396BA0;
}

.message-error {
	color: #AA0225;
	background-color: #F6D3CF;
	background-image: url('/typo3/sysext/t3skin/icons/gfx/error.png');
	border-color: #D66C68;
}

.message-information {
	color: #396BA0;
	background-color: #E3ECF5;
	background-image: url('/typo3/sysext/t3skin/icons/gfx/information.png');
	border-color: #396BA0;
}

/* CSS for timepicker */
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }

/* CSS for waiting */
.tx-calendardisplay-waiting {

	background-image: url('../Icons/loading_big.gif');
	background-repeat:no-repeat;
	background-position: 50% center;

	/* for IE */
	filter:alpha(opacity=40);
	/* CSS3 standard */
	opacity:0.4;
}
.tx-calendardisplay-hidden {
	display: none;
}

/* CSS for event list */
.tx-calendardisplay-available-item-event-list {
	width: 100%;
}

	
.tx-calendardisplay-available-item-event-list .tx-calendardisplay-filter-wrapper {
	width: 100%;
	padding: 15px 0 0 0;
	overflow: hidden;
}

.tx-calendardisplay-available-item-event-list .tx-calendardisplay-filter-wrapper-filter {
	float: left;
}

.tx-calendardisplay-available-item-event-list .tx-calendardisplay-filter-wrapper-filter select {
	width: 80px;
	margin: 0 20px 0 5px;
}

.tx-calendardisplay-available-item-event-list .tx-calendardisplay-filter-wrapper-search {
	float: left;
}

.tx-calendardisplay-available-item-event-list .tx-calendardisplay-filter-date-start {
	float: right;
}

.tx-calendardisplay-available-item-event-list .tx-calendardisplay-filter-date-start input {
	width: 100px;
	margin: 0 0 0 5px;
}

.tx-calendardisplay-available-item-event-list .tx-calendardisplay-filter-wrapper

.tx-calendardisplay-available-item-event-list .tx-calendardisplay-filter-wrapper div {
	float: left;
}

#tx-calendardisplay-dialog-column-second .tx-calendardisplay-dialog-list-wrapper {
	max-height: 500px;
	overflow-x: hidden;
	position: relative;
}

.tx-calendardisplay-available-item-event-list .tx-calendardisplay-list-wrapper {
	position: relative;
	overflow: hidden;
}
	
.tx-calendardisplay-available-item-event-list table {
	width: 100%;
}

.tx-calendardisplay-available-item-event-list table thead tr th {
	background-color: #396BA0;
	color: #FFFFFF;
}

.tx-calendardisplay-available-item-event-list table tr.tx-calendardisplay-odd td {
	background-color: #E3ECF5;
}

.tx-calendardisplay-available-item-event-list table tr.tx-calendardisplay-even td {
	background-color: #FFFFFF;
}

.tx-calendardisplay-available-item-event-list table th,
.tx-calendardisplay-available-item-event-list table td {
	border: 1px solid #000000;
	padding: 5px 5px 5px 5px;
}

.tx-calendardisplay-available-item-event-list ul {
	margin: 0;
}

.tx-calendardisplay-available-item-event-list ul li {
	margin: 0;
	list-style: none;
}

.tx-calendardisplay-available-item-event-list table tbody tr {
	vertical-align: top;
}

.tx-calendardisplay-available-item-event-list .tx-calendardisplay-list-wrapper-quantity,
.tx-calendardisplay-available-item-event-list .tx-calendardisplay-list-wrapper-edit,
.tx-calendardisplay-available-item-event-list .tx-calendardisplay-list-wrapper-delete {
	text-align: center;
}

.tx-calendardisplay-available-item-event-list a.tx-calendardisplay-list-wrapper-edit,
.tx-calendardisplay-available-item-event-list a.tx-calendardisplay-list-wrapper-delete {
	display: block;
	float: left;
	width: 16px;
	height: 16px;
	overflow: hidden;
	text-indent: 999em;
	margin-left: 5px;
}

.tx-calendardisplay-available-item-event-list table a.tx-calendardisplay-list-wrapper-edit {
	background: url("../Icons/edit.png") no-repeat center center;
}

.tx-calendardisplay-available-item-event-list table a.tx-calendardisplay-list-wrapper-delete {
	background: url("../Icons/delete.png") no-repeat center center;
}

/* CSS for event edit */
.tx-calendardisplay-event-input {
	margin-bottom: 10px;
}

.tx-calendardisplay-event-input label {
	width: 220px;
	display: block;
	color: #666;
}

#tx-calendardisplay-form-event-timeBegin,
#tx-calendardisplay-form-event-timeEnd {
	width: 220px;
}

#tx-calendardisplay-form-event-note {
	width: 220px;
	height: 100px;
}


#tx-calendardisplay-dialog-column-second .tx-calendardisplay-filter-wrapper {
	width: 100%;
	margin: 0 0 10px 0;
	overflow: hidden;
}

#tx-calendardisplay-dialog-column-second .tx-calendardisplay-filter-wrapper-filter {
	float: left;
}

#tx-calendardisplay-dialog-column-second .tx-calendardisplay-filter-wrapper-filter select {
	width: 80px;
	margin: 0 0 0 5px;
}

#tx-calendardisplay-dialog-column-second .tx-calendardisplay-filter-wrapper-search {
	float: right;
}

#tx-calendardisplay-dialog-column-second {
	width: 80%;
}

#tx-calendardisplay-dialog-column-second p {
	margin: 0 0 30px 0;
}

#tx-calendardisplay-dialog-column-second table {
	width: 100%;
}

#tx-calendardisplay-dialog-column-second table thead tr th {
	background-color: #396BA0;
	color: #FFFFFF;
}

#tx-calendardisplay-dialog-column-second table tr.tx-calendardisplay-odd {
	background-color: #E3ECF5;
}

#tx-calendardisplay-dialog-column-second table th,
#tx-calendardisplay-dialog-column-second table td {
	border: 1px solid #000000;
	padding: 5px 5px 5px 5px;
	
}

#tx-calendardisplay-dialog-column-second table tbody tr {
	vertical-align: top;
}

.tx-calendardisplay-list-wrapper-available-number,
.tx-calendardisplay-list-wrapper-reserve-number,
.tx-calendardisplay-list-wrapper-image {
	text-align: center;
}

.tx-calendardisplay-list-wrapper-image,
.tx-calendardisplay-list-wrapper-available-number,
.tx-calendardisplay-list-wrapper-reserve-number {
	width: 1px;
}

.tx-calendardisplay-list-wrapper td {
	vertical-align: middle;
}

.tx-calendardisplay-list-wrapper-reserve-number input {
	width: 50px;
}

/* pagination */
.tx-calendardisplay-pi1 ul.f3-widget-paginator {
	margin: 10px 0 0 0;
	float: right;
}

.tx-calendardisplay-pi1 ul.f3-widget-paginator li {
	float: left;
	padding: 0 0 0 5px;
}

/* Calendar */
.tx-calendardisplay-pi1 .tx-calendardisplay-box-header {
	overflow: hidden;
	margin: 0 0 10px 0;
}

.tx-calendardisplay-pi1 .tx-calendardisplay-box-header a.tx-calendardisplay-link-new {
	background: url("../Icons/add.png") no-repeat scroll right center transparent;
	padding: 0 20px 0 0;
}

.tx-calendardisplay-pi1 .edit-sign .fc-event-inner .fc-event-head {
	background: url("../Icons/edit.png") no-repeat right top;
}

.tx-calendardisplay-dialog-column-first {
	margin-right: 20px;
}

#tx-calendardisplay-dialog-column-second {
	width: 520px
}

.tx-calendardisplay-filter-category {
	height: 20px;
	font-size: 11px !important;
}

.tx-calendardisplay-wrapper-light {
	color: #666;
}

.tx-calendardisplay-box-right {
	float: right;
}

.tx-calendardisplay-box-left {
	float: left;
}


.tx-calendardisplay-box-header-right {
	float: right;
}

.tx-calendardisplay-box-header-left {
	width: 300px;
	float: left;
}

.tx-calendardisplay-text-align-center {
	text-align: center;
}

/* Flash Message */
.tx-calendardisplay-pi1 .typo3-messages {
	margin: 0 0 10px 0;
}