/* CSS to make sure UI looks good */
.ui-datepicker,
.ui-dialog-content {
	font-size: 13px;
	text-align: left;
}
.tx-calendardisplay-pi1-form-event th,
.tx-calendardisplay-pi1-form-event td {
	padding: 0;
}

.tx-calendardisplay-pi1-form-event input {
	margin-left: 0;
}

.tx-calendardisplay-pi1-form-event textarea {
	margin-left: 0;
	width: 400px;
}

input.f3-form-error {
	background-color:#FF9F9F;
	border: 1px #FF0000 solid;
}

/* CSS for timepicker */
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }

/* CSS for waiting */
.tx-calendardisplay-waiting {

	background-image: url('../Icons/loading_big.gif');
	background-repeat:no-repeat;
	background-position: 50% center;

	/* for IE */
	filter:alpha(opacity=40);
	/* CSS3 standard */
	opacity:0.4;
}

/* CSS for event list */
.tx-calendardisplay-pi1 .tx-calendardisplay-available-item-event-list {
	width: 100%;
}

	
.tx-calendardisplay-pi1 .tx-calendardisplay-available-item-event-list .tx-calendardisplay-filter-wrapper {
	width: 100%;
	padding: 15px 0 0 0;
	overflow: hidden;
}

.tx-calendardisplay-pi1 .tx-calendardisplay-available-item-event-list .tx-calendardisplay-filter-wrapper-filter {
	float: left;
}

.tx-calendardisplay-pi1 .tx-calendardisplay-available-item-event-list .tx-calendardisplay-filter-wrapper-filter select {
	width: 80px;
	margin: 0 20px 0 5px;
}

.tx-calendardisplay-pi1 .tx-calendardisplay-available-item-event-list .tx-calendardisplay-filter-wrapper-search {
	float: left;
}

.tx-calendardisplay-pi1 .tx-calendardisplay-available-item-event-list .tx-calendardisplay-filter-wrapper-search input.tx-calendardisplay-filter-keyword {
	width: 120px;
	margin: 0 0 0 5px;
	background: #FFFFFF url("../Icons/search_bg.gif") no-repeat left center;
	padding-left: 12px;
}

.tx-calendardisplay-pi1 .tx-calendardisplay-available-item-event-list .tx-calendardisplay-filter-date-start {
	float: right;
}

.tx-calendardisplay-pi1 .tx-calendardisplay-available-item-event-list .tx-calendardisplay-filter-date-start input {
	width: 100px;
	margin: 0 0 0 5px;
}

.tx-calendardisplay-pi1 .tx-calendardisplay-available-item-event-list .tx-calendardisplay-filter-wrapper

.tx-calendardisplay-pi1 .tx-calendardisplay-available-item-event-list .tx-calendardisplay-filter-wrapper div {
	float: left;
}

.tx-calendardisplay-pi1 .tx-calendardisplay-available-item-event-list .tx-calendardisplay-list-wrapper {
	position: relative;
	overflow: hidden;
}

.tx-calendardisplay-pi1 .tx-calendardisplay-available-item-event-list .tx-calendardisplay-list-wrapper img.tx-calendardisplay-loading {
	position: absolute;
	left: 45%;
	top: 35%
}
	
.tx-calendardisplay-pi1 .tx-calendardisplay-available-item-event-list table {
	width: 100%;
}

.tx-calendardisplay-pi1 .tx-calendardisplay-available-item-event-list table thead tr th {
	background-color: #396BA0;
	color: #FFFFFF;
}

.tx-calendardisplay-pi1 .tx-calendardisplay-available-item-event-list table tr.tx-calendardisplay-odd td {
	background-color: #E3ECF5;
}

.tx-calendardisplay-pi1 .tx-calendardisplay-available-item-event-list table tr.tx-calendardisplay-even td {
	background-color: #FFFFFF;
}

.tx-calendardisplay-pi1 .tx-calendardisplay-available-item-event-list table th,
.tx-calendardisplay-pi1 .tx-calendardisplay-available-item-event-list table td {
	border: 1px solid #000000;
	padding: 5px 5px 5px 5px;
}

.tx-calendardisplay-pi1 .tx-calendardisplay-available-item-event-list ul {
	margin: 0;
}

.tx-calendardisplay-pi1 .tx-calendardisplay-available-item-event-list ul li {
	margin: 0;
	list-style: none;
}

.tx-calendardisplay-pi1 .tx-calendardisplay-available-item-event-list table tbody tr {
	vertical-align: top;
}

.tx-calendardisplay-pi1 .tx-calendardisplay-available-item-event-list table .tx-calendardisplay-list-wrapper-quantity,
.tx-calendardisplay-pi1 .tx-calendardisplay-available-item-event-list table .tx-calendardisplay-list-wrapper-edit,
.tx-calendardisplay-pi1 .tx-calendardisplay-available-item-event-list table .tx-calendardisplay-list-wrapper-delete {
	text-align: center;
}

.tx-calendardisplay-pi1 .tx-calendardisplay-available-item-event-list table a.tx-calendardisplay-list-wrapper-edit,
.tx-calendardisplay-pi1 .tx-calendardisplay-available-item-event-list table a.tx-calendardisplay-list-wrapper-delete {
	display: block;
	float: left;
	width: 16px;
	height: 16px;
	overflow: hidden;
	text-indent: 999em;
	margin-left: 5px;
}

.tx-calendardisplay-pi1 .tx-calendardisplay-available-item-event-list table a.tx-calendardisplay-list-wrapper-edit {
	background: url("../Icons/edit.png") no-repeat center center;
}

.tx-calendardisplay-pi1 .tx-calendardisplay-available-item-event-list table a.tx-calendardisplay-list-wrapper-delete {
	background: url("../Icons/delete.png") no-repeat center center;
}

/* CSS for event edit */
.tx-calendardisplay-pi1 .tx-calendardisplay-form-event-wrapper {
	margin: 0 0 30px 0;
}

.tx-calendardisplay-pi1 .tx-calendardisplay-form-event-wrapper div {
	clear: both;
	padding: 0 0 10px 0;
}

.tx-calendardisplay-pi1 .tx-calendardisplay-form-event-wrapper .tx-calendardisplay-form-event-note {
	margin: 20px 0 0 0;
}

.tx-calendardisplay-pi1 .tx-calendardisplay-form-event-wrapper label {
	width: 100px;
	display: block;
}

#tx-calendardisplay-form-event-time-begin,
#tx-calendardisplay-form-event-time-end {
	width: 200px;
}

.tx-calendardisplay-pi1 .tx-calendardisplay-available-item .tx-calendardisplay-filter-wrapper {
	width: 100%;
	margin: 0 0 10px 0;
	overflow: hidden;
}

.tx-calendardisplay-pi1 .tx-calendardisplay-available-item .tx-calendardisplay-filter-wrapper-filter {
	float: left;
}

.tx-calendardisplay-pi1 .tx-calendardisplay-available-item .tx-calendardisplay-filter-wrapper-filter select {
	width: 80px;
	margin: 0 0 0 5px;
}

.tx-calendardisplay-pi1 .tx-calendardisplay-available-item .tx-calendardisplay-filter-wrapper-search {
	float: right;
}

.tx-calendardisplay-pi1 .tx-calendardisplay-available-item .tx-calendardisplay-filter-wrapper-search input.tx-calendardisplay-filter-keyword {
	width: 120px;
	background: #FFFFFF url("../Icons/search_bg.gif") no-repeat left center;
	padding-left: 12px;
}

.tx-calendardisplay-pi1 .tx-calendardisplay-available-item {
	width: 80%;
}

.tx-calendardisplay-pi1 .tx-calendardisplay-available-item p {
	margin: 0 0 30px 0;
}

.tx-calendardisplay-pi1 .tx-calendardisplay-available-item .tx-calendardisplay-list-wrapper {
	position: relative;
	overflow: hidden;
}

.tx-calendardisplay-pi1 .tx-calendardisplay-available-item .tx-calendardisplay-list-wrapper img.tx-calendardisplay-loading {
	position: absolute;
	left: 45%;
	top: 35%
}

.tx-calendardisplay-pi1 .tx-calendardisplay-available-item table {
	width: 100%;
}

.tx-calendardisplay-pi1 .tx-calendardisplay-available-item table thead tr th {
	background-color: #396BA0;
	color: #FFFFFF;
}

.tx-calendardisplay-pi1 .tx-calendardisplay-available-item table tr.tx-calendardisplay-odd {
	background-color: #E3ECF5;
}

.tx-calendardisplay-pi1 .tx-calendardisplay-available-item table th,
.tx-calendardisplay-pi1 .tx-calendardisplay-available-item table td {
	border: 1px solid #000000;
	padding: 5px 5px 5px 5px;
	
}

.tx-calendardisplay-pi1 .tx-calendardisplay-available-item table tbody tr {
	vertical-align: top;
}

.tx-calendardisplay-pi1 .tx-calendardisplay-available-item table .tx-calendardisplay-list-wrapper-available-number,
.tx-calendardisplay-pi1 .tx-calendardisplay-available-item table .tx-calendardisplay-list-wrapper-reserve-number,
.tx-calendardisplay-pi1 .tx-calendardisplay-available-item table .tx-calendardisplay-list-wrapper-image {
	text-align: center;
}

.tx-calendardisplay-pi1 .tx-calendardisplay-available-item table .tx-calendardisplay-list-wrapper-reserve-number input {
	width: 50px;
}

/* pagination */
.tx-calendardisplay-pi1 ul.f3-widget-paginator {
	margin: 10px 0 0 0;
	float: right;
}

.tx-calendardisplay-pi1 ul.f3-widget-paginator li {
	float: left;
	padding: 0 0 0 5px;
}

/* Calendar */
.tx-calendardisplay-pi1 .tx-calendardisplay-box-header {
	overflow: hidden;
	margin: 0 0 10px 0;
}

.tx-calendardisplay-pi1 .tx-calendardisplay-box-header a.tx-calendardisplay-link-new {
	background: url("../Icons/add.png") no-repeat scroll right center transparent;
	padding: 0 20px 0 0;
}

.tx-calendardisplay-pi1 .edit-sign .fc-event-inner .fc-event-head {
	background: url("../Icons/edit.png") no-repeat right top;
}

.tx-calendardisplay-box-header-right {
	float: right;
}

.tx-calendardisplay-box-header-left {
	width: 300px;
	float: left;
}

.tx-calendardisplay-text-align-center {
	text-align: center;
}