{namespace calendar=Tx_CalendarDisplay_ViewHelpers}

<f:layout name="Default" />
<f:section name="main">

	<calendar:script src="EXT:calendar_display/Resources/Public/JavaScript/CalendarDisplayCalendarView.js" />

	<script type="text/javascript">

		var CalendarDisplay = {};
		CalendarDisplay.Lang = {};

		CalendarDisplay.Lang.dialogSaveButton = '<f:translate key="save" />';
		CalendarDisplay.Lang.dialogCloseButton = '<f:translate key="close" />';
		CalendarDisplay.Lang.dialogTitleNew = '<f:translate key="new_event" />';
		CalendarDisplay.Lang.dialogTitleUpdate = '<f:translate key="update_event" />';

		CalendarDisplay._timePicker = {settings.timePicker.options};
		CalendarDisplay._waitingUI = {settings.waitingUI.options};
		CalendarDisplay._calendar = {settings.calendar.options};

		CalendarDisplay._events = [
			<f:for each="{events}" as="event">
				{
					<f:if condition="{currentUser}">
						<f:then>
							<f:if condition="{currentUser.txCalendardisplayAdmin}">
								<f:then>
									id: {event.uid},
									className: 'edit-sign',
								</f:then>
								<f:else>
									<f:if condition="{event.purchaser.uid} == {currentUser.uid}">
										<f:then>
											id: {event.uid},
											className: 'edit-sign',
										</f:then>
									</f:if>
								</f:else>
							</f:if>
						</f:then>
					</f:if>
					title: '<f:format.crop maxCharacters="25" append="...">{event.note}</f:format.crop>',
					start: '<f:format.date format="Y/m/d H:i">{event.timeBegin}</f:format.date>',
					end: '<f:format.date format="Y/m/d H:i">{event.timeEnd}</f:format.date>',
					allDay: false
				},
			</f:for>

		]
	</script>

	<f:flashMessages renderMode="div" />

	<div class="tx-calendardisplay-box-header">
		<f:if condition="{currentUser}">
			<f:link.action class="tx-calendardisplay-link-new" id="tx-calendardisplay-link-new" action="new" arguments="{refererAction:'calendar'}" title="<f:translate key='new_event' />">
				<f:translate key="new_event" />
			</f:link.action>
		</f:if>
		<div class="tx-calendardisplay-box-header-right">
			<f:link.action action="list"><f:translate key="list_view" /></f:link.action>
		</div>
	</div>

	<div id="calendar"></div>
</f:section>