{namespace calendar=Tx_CalendarDisplay_ViewHelpers}
<f:if condition="{availableResources}">
	<f:then>
		<table>
			<thead>
				<tr>
					<th class="tx-calendardisplay-list-wrapper-image"></th>
					<th class="tx-calendardisplay-list-header-material"><f:translate key="material" /></th>
					<th class="tx-calendardisplay-list-header-category"><f:translate key="category" /></th>
					<th class="tx-calendardisplay-list-header-number"><f:translate key="stock" /></th>
					<th class="tx-calendardisplay-list-header-availableNumber"><f:translate key="available_number" /></th>
					<th class="tx-calendardisplay-list-header-reserveNumber"><f:translate key="reserve_number" /></th>
				</tr>
			</thead>
			<tbody>
				<f:for each="{availableResources}" as="resource">
					<f:cycle values="{0: 'tx-calendardisplay-odd', 1: 'tx-calendardisplay-even'}" as="zebraClass">
						<f:if condition="{calendar:check.display(resource: resource)}">
							<f:render partial="Event/rowResource"  arguments="{zebra : zebra, resource: resource}" />
						</f:if>
					</f:cycle>
				</f:for>
			</tbody>
	</f:then>
	<f:else>
		<div class="typo3-messages" style="margin-top: 5px">
			<div class="typo3-message message-{messageType}">
				<div class="message-body">
					{message}
				</div>
			</div>
		</div>
	</f:else>
</f:if>