{namespace calendar=Tx_CalendarDisplay_ViewHelpers}
<f:if condition="{events}">
	<f:then>
		<calendar:widget.paginate objects="{events}" as="paginatedEvents" configuration="{itemsPerPage: 10, insertAbove: 0, insertBelow: 0}">
		<f:for each="{paginatedEvents}" as="event">
		<f:cycle values="{0: 'tx-calendardisplay-odd', 1: 'tx-calendardisplay-even'}" as="zebraClass">
			<f:render partial="Event/rowEvent"  arguments="{zebraClass : zebraClass, event: event, user: currentUser}" />
		</f:cycle>
	</f:for>
		</calendar:widget.paginate>
	</f:then>
	<f:else>
		<tr class="tx-calendardisplay-odd">
			<td colspan="7">
				<f:translate key="no_booking_item" />
			</td>
		</tr>
	</f:else>
</f:if>	