{namespace calendar=Tx_CalendarDisplay_ViewHelpers}
<f:if condition="{availableResources}">
	<f:then>
		<f:for each="{availableResources}" as="resource">							
			<f:cycle values="{0: 'tx-calendardisplay-odd', 1: 'tx-calendardisplay-even'}" as="zebraClass">
				<f:if condition="{resource.availableNumber} > 0">
					<f:then>
						<tr class="{zebraClass}">
							<td class="tx-calendardisplay-list-wrapper-image">
								<f:if condition="{resource.image}">
									<f:image src="uploads/tx_calendardisplay/{resource.image}"  width="50" alt="{resource.name}" />
								</f:if>
							</td>
							<td class="tx-calendardisplay-list-wrapper-material">{resource.name}</td>
							<td class="tx-calendardisplay-list-wrapper-category">{resource.category.name}</td>								
							<td class="tx-calendardisplay-list-wrapper-available-number">{resource.availableNumber}</td>
							<td class="tx-calendardisplay-list-wrapper-reserve-number">
								<input id="booking_{resource.uid}" class="validate[custom[integer],max[{resource.totalAvailableNum}]]" type="text" name="booking[{resource.uid}]" value="{resource.bookingNumber}" />
							</td>
						</tr>
					</f:then>
					<f:else>
						<f:if condition="{resource.bookingNumber} > 0">
							<tr class="{zebraClass}">
								<td class="tx-calendardisplay-list-wrapper-image">
									<f:if condition="{resource.image}">
										<f:image src="uploads/tx_calendardisplay/{resource.image}"  width="50" alt="{resource.name}" />
									</f:if>
								</td>
								<td class="tx-calendardisplay-list-wrapper-material">{resource.name}</td>
								<td class="tx-calendardisplay-list-wrapper-category">{resource.category.name}</td>								
								<td class="tx-calendardisplay-list-wrapper-available-number">{resource.availableNumber}</td>
								<td class="tx-calendardisplay-list-wrapper-reserve-number">
									<input id="booking_{resource.uid}"  class="validate[custom[integer],max[{resource.totalAvailableNum]]" type="text" name="booking[{resource.uid}]" value="{resource.bookingNumber}" />
								</td>
							</tr>
						</f:if>
					</f:else>
				</f:if>
			</f:cycle>							
		</f:for>
	</f:then>
	<f:else>
		<tr class="tx-calendardisplay-odd">
			<td colspan="5">
				<f:translate key="no_available_item" />
			</td>
		</tr>
	</f:else>
</f:if>