{namespace calendar=Tx_CalendarDisplay_ViewHelpers}
<f:if condition="{availableResources}">
	<f:then>
		<f:for each="{availableResources}" as="resource">
			<f:if condition="{resource.availableNumber} > 0"> 
				<f:cycle values="{0: 'odd', 1: 'even'}" as="zebraClass">
					<tr class="{zebraClass}">
						<td class="image">
							<f:if condition="{resource.image}">
								<f:image src="uploads/tx_calendardisplay/{resource.image}"  width="50" alt="{resource.name}" />
							</f:if>
						</td>
						<td class="material">{resource.name}</td>
						<td class="category">
							{resource.category.name}
						</td>								
						<td class="available-number">{resource.availableNumber}</td>
						<td class="reserve-number">
							<f:form.textbox name="booking" value="{resource.bookingNumber}" />
						</td>
					</tr>
				</f:cycle>
			</f:if>
		</f:for>
	</f:then>
	<f:else>
		<tr class="odd">
			<td colspan="5">
				<f:translate key="no_available_item" />
			</td>
		</tr>
	</f:else>
</f:if>