{namespace calendar=Tx_CalendarDisplay_ViewHelpers}
<f:layout name="Default" />
<f:section name="main">
	<script type="text/javascript">
		var _dialogTitleNew = '<f:translate key="new_event" />';
		var _dialogTitleUpdate = '<f:translate key="update_event" />';
		var _timePicker = {settings.timePicker.options};
		var _calendar = {settings.calendar.options};
		var _waitingUI = {settings.waitingUI.options};

		// <![CDATA[
		/**
		 * Initialize object that contains configuration
		 */
		var CalendarDisplay = {
			newUrl : '/?type=12636&tx_calendardisplay_pi1[refererAction]=list', // &no_cache=1 (debug purposes)
			editUrl : '/?type=12639tx_calendardisplay_pi1[refererAction]=list', // &no_cache=1 (debug purposes)
			TimePicker : {},
			Calendar : {},
			Dialog : {},
			WaitingUI : {},
			Lang : {
				dialogTitleNew :  _dialogTitleNew,
				dialogTitleUpdate :  _dialogTitleUpdate
			}
		};

		/**
		 * Return Dialog object
		 */
		(function($) {
			$(function() {
				$(document).ready(function(){

					// Initialize CalendarDisplay object
					CalendarDisplay.Dialog = CalendarDisplay.initializeDialog();
					CalendarDisplay.TimePicker.options = CalendarDisplay.getTimePickerOptions();
					CalendarDisplay.Calendar.options = CalendarDisplay.getCalendarOptions();
					CalendarDisplay.WaitingUI.options = CalendarDisplay.getWaitingUIOptions();

					
					// Load dialog box
					$('#tx-calendardisplay-link-new').click(function() {

						$.blockUI(CalendarDisplay.WaitingUI.options);

						CalendarDisplay.Dialog.load(
							CalendarDisplay.newUrl,
							{},
							function (responseText, textStatus, XMLHttpRequest) {
								
								// release UI
								$.unblockUI();

								// define title dialog box
								CalendarDisplay.Dialog.dialog('option', 'title', CalendarDisplay.Lang.dialogTitleNew);

								// open dialog box
								CalendarDisplay.Dialog.dialog('open');
							}
						);

						// prevent the default action, e.g., following a link
						return false;
					});
					$('.edit > a').click(function() {
						var preClass = 'tx-calendardisplay-edit-event_';
						var eventId = ($(this).attr('class')).substring(preClass.length);
						if (eventId) {
							$.blockUI(CalendarDisplay.WaitingUI.options);
	
							CalendarDisplay.Dialog.load(
								CalendarDisplay.editUrl + '&tx_calendardisplay_pi1[event]=' + eventId,
								{},
								function (responseText, textStatus, XMLHttpRequest) {
									
									// release UI
									$.unblockUI();
	
									// define title dialog box
									CalendarDisplay.Dialog.dialog('option', 'title', CalendarDisplay.Lang.dialogTitleUpdate);
	
									// open dialog box
									CalendarDisplay.Dialog.dialog('open');
								}
							);
						}

						// prevent the default action, e.g., following a link
						return false;
					});

					var calendar = $('#calendar').fullCalendar(CalendarDisplay.Calendar.options);

				}); // end DOM ready

			}); // end of clausure
		})(jQuery);


		/**
		 * Return Dialog object
		 */
		CalendarDisplay.initializeDialog = function() {
			// Dialog box
			var dialog = $('<div></div>')
			.dialog({
				autoOpen: false,
				modal: true,
				width: 610
			});
			
			return dialog;
		}

		/**
		 * Return WaitingUI options
		 */
		CalendarDisplay.getWaitingUIOptions = function() {
			// Calendar default options
			var defaultOptions = {
				message: null
			}
			return $.extend(defaultOptions, _waitingUI);
		}

		/**
		 * Return Time picker options
		 */
		CalendarDisplay.getTimePickerOptions = function() {
			// Calendar default options
			var defaultOptions = {
				hourMin: 8,
				hourMax: 18,
				stepHour: 1,
				stepMinute: 10
			}

			// merge language options if any
			var languageOptions = {};
			if (typeof($.timepicker.getLanguageOptions) == 'function') {
				languageOptions = $.timepicker.getLanguageOptions();
			}

			return $.extend(defaultOptions, languageOptions, _timePicker);
		}

		/**
		 * Return calendar options
		 */
		CalendarDisplay.getCalendarOptions = function() {

			// Calendar
			var date = new Date();
			var d = date.getDate();
			var m = date.getMonth();
			var y = date.getFullYear();

			// @temp
			console.log(d);
			console.log(m);
			console.log(y);

			// Calendar default options
			var defaultOptions = {
				header: {
					left: 'prev,next today',
					center: 'title',
					right: 'month,agendaWeek,agendaDay'
				},
				theme: true,
				defaultView: 'agendaWeek',
				allDaySlot: false,
				firstHour: 8,
				editable: false,
				selectable: false,
				selectHelper: true,
				eventClick: function(calEvent, jsEvent, view) {
					if (calEvent.id) {
						// GUI
						$.blockUI(CalendarDisplay.WaitingUI.options);
						CalendarDisplay.Dialog.load(								
							CalendarDisplay.editUrl + '&tx_calendardisplay_pi1[event]=' + calEvent.id,
							{},
							function (responseText, textStatus, XMLHttpRequest) {
								
								// release UI
								$.unblockUI();

								// define title dialog box
								CalendarDisplay.Dialog.dialog('option', 'title', CalendarDisplay.Lang.dialogTitleUpdate);

								// open dialog box
								CalendarDisplay.Dialog.dialog('open');
							}
						);
					}
					// change the border color just for fun
					$(this).css('border-color', 'red');
				},

				eventSources: [
					// your event source
					{
						events: [ // put the array in the `events` property
							// ]]>
							<f:for each="{events}" as="event">
								{
									id: <f:format.number thousandsSeparator="">{event.uid}</f:format.number>,
									title: '<f:format.crop maxCharacters="25" append="...">{event.note}</f:format.crop>',
									start: '<f:format.date format="m d Y H:i">{event.timeBegin}</f:format.date>',
									end: '<f:format.date format="m d Y H:i">{event.timeEnd}</f:format.date>',
									allDay: false
								},							
							</f:for>
							// <![CDATA[
						]
					},
				]
				
			};

			// merge language options if any
			var languageOptions = {};
			if (typeof($.fullCalendar.getLanguageOptions) == 'function') {
				languageOptions = $.fullCalendar.getLanguageOptions();
			}

			return $.extend(defaultOptions, languageOptions, _calendar);
		}		
		// ]]>
	</script>
	
	<f:flashMessages />
	<div class="event-list">
		
		<div class="tx-calendardisplay-box-header">		
			<f:if condition="{currentUser}">
				<div class="tx-calendardisplay-box-header-left">
					<f:link.action class="new-event" id="tx-calendardisplay-link-new" action="new" arguments="{refererAction:'list'}" title="<f:translate key='new_event' />">
						<f:translate key="new_event" />
					</f:link.action>
				</div>
			</f:if>
			
			<div class="tx-calendardisplay-box-header-right">
				<f:link.action action="calendar"><f:translate key="calendar_view" /></f:link.action>
			</div>
		</div>
		
		<f:if condition="{events}">
			<f:then>
				<div class="filter-wrapper">
					<f:form method="post" action="list" name="filter">
						<div class="filter">
							<label><f:translate key="filter_selection" /></label>
							<f:if condition="{categories}">		
								<label><f:translate key="category" /></label>					
								<calendar:form.select class="category" name="category" prependOption="<f:translate key='all' />" options="{categories}" optionValueField="uid" optionLabelField="name" />
							</f:if>
						</div>
						<div class="search">
							<f:form.textbox class="keyword" name="keyword" class="keyword" value="<f:translate key='search' />" />
							<input id="defauleSearchLabel" type="hidden" value="<f:translate key='search' />" />
						</div>
						<div class="date-start">
							<label><f:translate key="choose_start_date" /></label>
							<f:form.textbox class="timeBegin" name="dateStart" value="<f:format.date format='m/d/Y'>now</f:format.date>" />
						</div>
					</f:form>
				</div>
				<div class="list-wrapper">
					<f:image class="loading" src="EXT:calendar_display/Resources/Public/Media/Icons/loading.gif" alt="" />
					<calendar:widget.paginate objects="{events}" as="paginatedEvents" configuration="{itemsPerPage: 10, insertAbove: 0, insertBelow: 1}">
					<table>
						<thead>
							<tr>
								<th class="start"><f:translate key="start" /></th>
								<th class="end"><f:translate key="end" /></th>
								<th class="note"><f:translate key="note" /></th>
								<th class="material"><f:translate key="material" /></th>
								<th class="bookedBy"><f:translate key="booked_by" /></th>
								<th class="phone"><f:translate key="phone" /></th>
								<f:if condition="{currentUser}">
									<th class="action tx-calendardisplay-text-align-center" colspan="2"><f:translate key="action" /></th>
								</f:if>
							</tr>
						</thead>
						<tbody>
							<f:for each="{paginatedEvents}" as="event">
								<f:cycle values="{0: 'odd', 1: 'even'}" as="zebraClass">
									<tr class="{zebraClass}">
										<td class="start">
											<f:format.date format="d.m.Y @ H\h:i">{event.timeBegin}</f:format.date>
										</td>
										<td class="end">
											<f:if condition="{event.compareDayBeginDayEnd}">
												<f:then>
													<f:format.date format="@ H\h:i">{event.timeEnd}</f:format.date>
												</f:then>
												<f:else>
													<f:format.date format="d.m.Y @ H\h:i">{event.timeEnd}</f:format.date>
												</f:else>
											</f:if>												
										</td>
										<td class="note">{event.note}</td>
										<td class="material">
											<f:if condition="{event.booking}">
												<f:then>
													<ul>
														<f:for each="{event.booking}" as="booking" iteration="resourceIterator">
															<f:for each="{booking.resources}" as="resource">
																<li>{resource.name} ({booking.number})</li>
															</f:for>
														</f:for>
													</ul>
												</f:then>
											</f:if>											
										</td>																		
										<td class="bookedBy">
											<f:link.email email="{event.purchaser.email}">{event.purchaser.username}</f:link.email>
										</td>
										<td class="phone">{event.purchaser.telephone}</td>
										
										<f:if condition="{currentUser}">
											<f:then>
												<td class="edit">
													<f:if condition="{currentUser.txCalendardisplayAdmin}">
														<f:then>
															<f:link.action action="edit" class="tx-calendardisplay-edit-event_{event.uid}" arguments="{event: event}" title="<f:translate key='edit' />">
																<f:translate key="edit" />
															</f:link.action>
														</f:then>
														<f:else>
															<f:if condition="{event.purchaser.uid} == {currentUser.uid}">
																<f:then>
																	<f:link.action action="edit" class="tx-calendardisplay-edit-event_{event.uid}" arguments="{event: event}" title="<f:translate key='edit' />">
																		<f:translate key="edit" />
																	</f:link.action>
																</f:then>
															</f:if>
														</f:else>
													</f:if>
												</td>
											</f:then>
										</f:if>
										<f:if condition="{currentUser}">
											<f:then>
												<td class="delete">
													<f:if condition="{currentUser.txCalendardisplayAdmin}">
														<f:then>
															<f:link.action action="delete" arguments="{event: event}" onclick="return confirm(\"<f:translate key='confirm_delete' />\");" title="<f:translate key='delete' />">
																<f:translate key="delete" />
															</f:link.action>
														</f:then>
														<f:else>
															<f:if condition="{event.purchaser.uid} == {currentUser.uid}">
																<f:then>
																	<f:link.action action="delete" arguments="{event: event}" onclick="return confirm(\"<f:translate key='confirm_delete' />\");" title="<f:translate key='delete' />">
																		<f:translate key="delete" />
																	</f:link.action>
																</f:then>
															</f:if>
														</f:else>
													</f:if>
												</td>
											</f:then>
										</f:if>
									</tr>
								</f:cycle>
							</f:for>
						</tbody>
					</table>
					</calendar:widget.paginate>
				</div>
			</f:then>
			<f:else>
				<div class="tx-calendardisplay-box-header-left">
					<f:translate key="no_booking_item" /> <f:if condition="{currentUser}"><f:then></f:then><f:else><f:translate key="please_login" /></f:else></f:if>
				</div>
			</f:else>
		</f:if>	
	</div>
</f:section>