{namespace calendar=Tx_CalendarDisplay_ViewHelpers}

<f:layout name="Default" />
<f:section name="main">

	<calendar:script src="EXT:calendar_display/Resources/Public/JavaScript/CalendarDisplayListView.js" />

	<script type="text/javascript">
		var CalendarDisplay = {};
		CalendarDisplay.Lang = {};

		CalendarDisplay.Lang.dialogSaveButton = '<f:translate key="save" />';
		CalendarDisplay.Lang.dialogCloseButton = '<f:translate key="close" />';
		CalendarDisplay.Lang.dialogTitleNew = '<f:translate key="new_event" />';
		CalendarDisplay.Lang.dialogTitleUpdate = '<f:translate key="update_event" />';
		
		CalendarDisplay._timePicker = {settings.timePicker.options};
		CalendarDisplay._waitingUI = {settings.waitingUI.options};

	</script>

	<f:flashMessages renderMode="div" />
	<div class="tx-calendardisplay-available-item-event-list">
		<div class="tx-calendardisplay-box-header">
			<f:if condition="{currentUser}">
				<div class="tx-calendardisplay-box-header-left">
					<f:link.action class="tx-calendardisplay-link-new" id="tx-calendardisplay-link-new" action="new" arguments="{refererAction:'list'}" title="<f:translate key='new_event' />">
						<f:translate key="new_event" />
					</f:link.action>
				</div>
			</f:if>

			<div class="tx-calendardisplay-box-header-right">
				<f:link.action action="calendar"><f:translate key="calendar_view" /></f:link.action>
			</div>
		</div>

		<div class="tx-calendardisplay-filter-wrapper">
			<f:form method="get" action="list" name="filter">
				<div class="tx-calendardisplay-filter-wrapper-filter">
					<label><f:translate key="filter_selection" /></label>
					<f:if condition="{categories}">
						<label><f:translate key="category" /></label>
						<calendar:form.select id="tx-calendardisplay-list-filter-category" name="category" prependOption="<f:translate key='all' />" options="{categories}" optionValueField="uid" optionLabelField="name" />
					</f:if>
				</div>
				<div class="tx-calendardisplay-filter-wrapper-search">
					<f:form.textfield id="tx-calendardisplay-list-filter-keyword" name="keyword" type="search" placeholder="<f:translate key='search' />" />
				</div>
				<div class="tx-calendardisplay-filter-date-start">
					<label><f:translate key="choose_start_date" /></label>
					<f:form.textfield id="tx-calendardisplay-list-filter-timeBegin" name="dateStart" value="<f:format.date format='d.m.Y'>now</f:format.date>" />
				</div>
			</f:form>
		</div>
		<div class="tx-calendardisplay-list-wrapper">
			<calendar:widget.paginate objects="{events}" as="paginatedEvents" configuration="{itemsPerPage: 10, insertAbove: 0, insertBelow: 1}">
				<table>
					<thead>
						<tr>
							<th class="tx-calendardisplay-list-wrapper-start"><f:translate key="start" /></th>
							<th class="tx-calendardisplay-list-wrapper-end"><f:translate key="end" /></th>
							<th class="tx-calendardisplay-list-wrapper-note"><f:translate key="note" /></th>
							<th class="tx-calendardisplay-list-wrapper-material"><f:translate key="material" /></th>
							<th class="tx-calendardisplay-list-wrapper-bookedBy"><f:translate key="booked_by" /></th>
							<th class="tx-calendardisplay-list-wrapper-phone"><f:translate key="phone" /></th>
							<f:if condition="{currentUser}">
								<th class="tx-calendardisplay-list-wrapper-action tx-calendardisplay-text-align-center"><f:translate key="action" /></th>
							</f:if>
						</tr>
					</thead>
					<tbody>
						<f:for each="{paginatedEvents}" as="event">
							<f:cycle values="{0: 'tx-calendardisplay-odd', 1: 'tx-calendardisplay-even'}" as="zebraClass">
								<tr class="{zebraClass}">
									<td class="tx-calendardisplay-list-wrapper-start">
								<f:format.date format="d.m.Y @ H\h:i">{event.timeBegin}</f:format.date>
								</td>
								<td class="tx-calendardisplay-list-wrapper-end">
								<f:if condition="{event.compareDayBeginDayEnd}">
									<f:then>
										<f:format.date format="@ H\h:i">{event.timeEnd}</f:format.date>
									</f:then>
									<f:else>
										<f:format.date format="d.m.Y @ H\h:i">{event.timeEnd}</f:format.date>
									</f:else>
								</f:if>
								</td>
								<td class="tx-calendardisplay-list-wrapper-note">{event.note}</td>
								<td class="tx-calendardisplay-list-wrapper-material">
								<f:if condition="{event.booking}">
									<f:then>
										<ul>
											<f:for each="{event.booking}" as="booking" iteration="resourceIterator">
												<f:for each="{booking.resources}" as="resource">
													<li>{resource.name} ({booking.number})</li>
												</f:for>
											</f:for>
										</ul>
									</f:then>
								</f:if>
								</td>
								<td class="tx-calendardisplay-list-wrapper-bookedBy">
								<f:link.email email="{event.purchaser.email}">{event.purchaser.username}</f:link.email>
								</td>
								<td class="phone">{event.purchaser.telephone}</td>

								<f:if condition="{currentUser}">
									<f:then>
										<td>
										<f:if condition="{currentUser.txCalendardisplayAdmin}">
											<f:then>
												<f:link.action action="edit" id="tx-calendardisplay-edit-event{event.uid}" class="tx-calendardisplay-list-wrapper-edit" arguments="{event: event}" title="<f:translate key='edit' />">
													<f:translate key="edit" />
												</f:link.action>
												<f:link.action class="tx-calendardisplay-list-wrapper-delete" action="delete" arguments="{event: event}" onclick="return confirm(\"<f:translate key='confirm_delete' />\");" title="<f:translate key='delete' />">
													<f:translate key="delete" />
												</f:link.action>
											</f:then>
											<f:else>
												<f:if condition="{event.purchaser.uid} == {currentUser.uid}">
													<f:then>
														<f:link.action action="edit" id="tx-calendardisplay-edit-event{event.uid}" class="tx-calendardisplay-list-wrapper-edit" arguments="{event: event}" title="<f:translate key='edit' />">
															<f:translate key="edit" />
														</f:link.action>
														<f:link.action class="tx-calendardisplay-list-wrapper-delete" arguments="{event: event}" onclick="return confirm(\"<f:translate key='confirm_delete' />\");" title="<f:translate key='delete' />">
															<f:translate key="delete" />
														</f:link.action>
													</f:then>
												</f:if>
											</f:else>
										</f:if>
										</td>
									</f:then>
								</f:if>

								</tr>
							</f:cycle>
						</f:for>
					</tbody>
				</table>

				<f:if condition="{events}">
					<f:then>
					</f:then>
					<f:else>
						<f:translate key="no_booking_item" /> <f:if condition="{currentUser}"><f:then></f:then><f:else><f:translate key="please_login" /></f:else></f:if>
					</f:else>
				</f:if>
			</calendar:widget.paginate>
		</div>
	</div>
</f:section>